In [56]:
import pandas as pd
import os

In [57]:
df1 = pd.read_csv("./client/client.csv")
df2 = pd.read_csv("./server/server.csv")
df = pd.merge(df1, df2, on='label')

In [58]:
df1.head()

      label Throughput  errors   elapsed      Latency
0  13:57:09   17,32283     0.0    53.000    25.000000
1  13:57:10    5,49199     0.0  2302.375  2215.583333
2  13:57:11    5,05561     0.0    49.600     1.400000
3  13:57:12   18,86792     0.0    53.000     1.000000
4  13:57:13   27,02703     0.0    37.000     0.000000

In [59]:
df.drop(columns=["label"],inplace=True)
df.head()

,Throughput,errors,elapsed,Latency,VmPeak,VmRSS,VmSize,VmHWM,VmPTE,Threads,...,Inactive,Dirty,Writeback,AnonPages,Mapped,Slab,PageTables,Committed_AS,NumOfAllocFH,proc_fd
0,"23,25581",0.0,43.0,2.000000,208652,21876,208652,NaN,152,1,...,1945920,8,0,1388520,411680,200228,26280,6343548,8000,7968
1,"27,77778",0.0,36.0,1.000000,208652,21876,208652,NaN,152,1,...,1947684,88,0,1387788,411780,200392,26196,6409404,8000,8000
2,"32,25806",0.0,31.0,2.000000,208652,21876,208652,NaN,152,1,...,1982236,100,0,1392216,441584,201076,26136,6383340,8224,8224
3,"28,13299",0.0,24.5,1.181818,208652,21876,208652,NaN,152,1,...,1985120,96,0,1391528,444720,200828,26396,6396984,8288,8256
4,"5,19211",0.0,33.4,1.400000,208652,21876,208652,NaN,152,1,...,1982764,16,0,1391396,443532,200700,26120,6378252,8256,8256

In [60]:
if not os.path.isfile('dataset.csv'):
   df.to_csv('dataset.csv',index=False)
else: 
   df.to_csv('dataset.csv', index = False,mode='a', header=False)

In [61]:
x = pd.read_csv('./dataset.csv')
x.head(30)

,Throughput,errors,elapsed,Latency,VmPeak,VmRSS,VmSize,VmHWM,VmPTE,Threads,...,Inactive,Dirty,Writeback,AnonPages,Mapped,Slab,PageTables,Committed_AS,NumOfAllocFH,proc_fd
0,"23,25581",0.0,43.000000,2.000000,208652,21876,208652,NaN,152,1,...,1945920,8,0,1388520,411680,200228,26280,6343548,8000,7968
1,"27,77778",0.0,36.000000,1.000000,208652,21876,208652,NaN,152,1,...,1947684,88,0,1387788,411780,200392,26196,6409404,8000,8000
2,"32,25806",0.0,31.000000,2.000000,208652,21876,208652,NaN,152,1,...,1982236,100,0,1392216,441584,201076,26136,6383340,8224,8224
3,"28,13299",0.0,24.500000,1.181818,208652,21876,208652,NaN,152,1,...,1985120,96,0,1391528,444720,200828,26396,6396984,8288,8256
4,"5,19211",0.0,33.400000,1.400000,208652,21876,208652,NaN,152,1,...,1982764,16,0,1391396,443532,200700,26120,6378252,8256,8256
5,"40,00000",0.0,25.000000,1.000000,208652,21876,208652,NaN,152,1,...,1976484,28,0,1381852,444624,200552,26112,6374232,8256,8256
6,"23,80952",0.0,42.000000,1.000000,208652,21876,208652,NaN,152,1,...,1954748,32,0,1380640,423496,200264,26032,6354264,8096,8064
7,"20,00000",0.0,50.000000,2.000000,208652,21876,208652,NaN,152,1,...,1924508,32,0,1376068,397832,200396,26012,6328800,7904,7904
8,"27,95426",0.0,21.318182,0.909091,208652,21876,208652,NaN,152,1,...,1937176,40,0,1389936,398016,200444,26212,6340228,7904,7872
9,"5,15464",0.0,30.000000,1.200000,208652,21876,208652,NaN,152,1,...,1949228,40,0,1389560,413764,200504,26376,6355448,8000,8000
10,"41,66667",0.0,24.000000,1.000000,208652,21876,208652,NaN,152,1,...,1952764,40,0,1389444,413860,200464,26044,6348516,8000,8000
11,"20,83333",0.0,48.000000,1.000000,208652,21876,208652,NaN,152,1,...,1953152,40,0,1388916,412684,200496,26128,6347760,8000,8000
12,"27,98982",0.0,24.000000,0.954545,208652,21876,208652,NaN,152,1,...,1951480,32,0,1398476,401880,200372,26224,6355208,7936,7936
13,"5,11247",0.0,42.400000,1.200000,208652,21876,208652,NaN,152,1,...,1949624,36,0,1400740,399704,200408,26128,6351228,7904,7904
14,"21,27660",0.0,47.000000,2.000000,208652,21876,208652,NaN,152,1,...,1924436,40,0,1382292,391952,200720,26144,6332192,7872,7872
15,"19,23077",0.0,52.000000,1.000000,208652,21876,208652,NaN,152,1,...,1923360,40,0,1380704,392036,200388,25976,6324808,7872,7872
16,"20,83333",0.0,48.000000,1.000000,208652,21876,208652,NaN,152,1,...,1924276,40,0,1382152,391652,200536,26056,6315488,7872,7872
17,"27,77778",0.0,48.909091,2.818182,208652,21876,208652,NaN,152,1,...,1915456,36,0,1376572,392196,200296,26044,6310464,7840,7840
18,"5,11247",0.0,40.600000,1.400000,208652,21876,208652,NaN,152,1,...,1916980,36,0,1378180,389704,200628,26124,6318764,7840,7840
19,"38,46154",0.0,26.000000,1.000000,208652,21876,208652,NaN,152,1,...,1916908,40,0,1378108,389760,200436,25872,6316584,7840,7840
20,"19,60784",0.0,51.000000,2.000000,208652,21876,208652,NaN,152,1,...,1916552,40,36,1380360,389744,200348,26120,6319268,7840,7840
21,"17,85714",0.0,56.000000,2.000000,208652,21876,208652,NaN,152,1,...,1919784,40,0,1379112,389744,200236,26024,6318376,7840,7840
22,"28,16901",0.0,20.045455,0.909091,208652,21876,208652,NaN,152,1,...,1918216,36,0,1378340,389760,200896,25956,6324964,7840,7840
23,"5,20291",0.0,39.400000,1.200000,208652,21876,208652,NaN,152,1,...,1919740,36,0,1379792,390348,200232,26132,6318128,7840,7840
24,"22,72727",0.0,44.000000,1.000000,208652,21876,208652,NaN,152,1,...,1921060,36,0,1380936,388668,200412,26288,6326444,7840,7840
25,"41,66667",0.0,24.000000,1.000000,208652,21876,208652,NaN,152,1,...,1918236,36,0,1378700,389696,200516,26216,6319584,7840,7840
26,"27,95426",0.0,23.227273,1.181818,208652,21876,208652,NaN,152,1,...,1919224,32,0,1379340,389736,200384,25964,6311500,7840,7840
27,"5,06586",0.0,39.200000,1.600000,208652,21876,208652,NaN,152,1,...,1921396,40,0,1380852,389004,200232,25876,6318248,7840,7840
28,"22,72727",0.0,44.000000,2.000000,208652,21876,208652,NaN,152,1,...,1922696,40,0,1381280,389760,200696,26040,6318852,7840,7840
29,"17,54386",0.0,57.000000,2.000000,208652,21876,208652,NaN,152,1,...,1922800,32,0,1384304,389004,200344,26040,6310832,7808,7808

In [63]:
x.shape

(1307, 24)